@font-face {
    font-family: 'Barriecito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/barriecito/v3/WWXXlj-CbBOSLY2QTuY_GdIoYg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Chewy';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/chewy/v12/uK_94ruUb-k-wn52KjI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/quicksand/v22/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58a-wg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: white;
}
.header{
    font-family: Chewy;
    position: fixed;
    top: 0;
    width: 100%;
    height: 35px;
    background-color: #f070a1;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}
.headi{
    color: #c34271;
}

#headi{
    display: inline-block;
    width: 30%;
}

.body{
    margin-top: 35px;
    background-image: url("AufgabeWebseite/Aufgabe 3/Material/Bild4.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    text-align: center;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    color: white;
    font-family: Chewy;
}

.main{
    grid-column-start: 2;
}
p{
    background-color: #f070a1;
    border-radius: 15px;
}
img{
    border: 5px dashed white;
    width: 200px;
}